*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    height: 100vh;
    background: rgb(108,99,255);
    background: linear-gradient(90deg, rgba(108,99,255,1) 0%, rgba(63,61,86,1) 100%);
}

.main_container{
    display: flex;
}

.svg_container{
    margin: 50px 20px;
}

.svg_container > img{
    max-width: 100%;
}

.churrascometro_container{
   max-width: 400px;
   margin: 200px 10%;
   padding: 80px 50px;
   border-radius: 10px;

   background-color: #3f3d56;
   color: white;

   box-shadow: 4px 5px 10px black;

}

#titulo_container{
    text-align: center;
 }

#button{
    background-color: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
}

#homens_input,
#mulheres_input,
#criancas_input,
#horas_input,
#button{
   width: 100%;
   padding: 10px;
   margin-top: 5%;
   font-size: 1.1rem;
}

#resultado_carneBovina_container,
#resultado_linguica_container,
#resultado_frango_container,
#resultado_cerveja_container,
#resultado_bebidas_container{
    margin-top: 10px;
}

@media only screen and (max-width: 1100px){
    .main_container{
        display: flex;
        flex-direction: column;
    }
    .svg_container > img{   
        width: 400px;
    }
    .svg_container{
        margin: 30px 10px;
        
    }
    .churrascometro_container{
        margin: 30px 10px;
        padding: 5%;
        border-radius: 10px;
    }
}

